@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.glassmorphism {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

div {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: white solid 2px;
}
input:focus {
  outline: none;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


body {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: 'Rubik', sans-serif;
}

.first-section {
  width: 32.5vw;
  display: flex;
  flex-direction: column;
}

.first-section .weather {
  height: 40px;
  line-height: 40px;
  width: 70%;
  color: white;
  padding-left: 10px;
}

.first-section .weatherNone {
  height: 40px;
  line-height: 40px;
  width: 70%;
  color: white;
  padding-left: 10px;
}

.first-section .quote {
  height: 30px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section .quote span {
  font-size: 13px;
  color: white;
}

.middle-section {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-section .clock {
  height: 210px;
  margin: 90px 0 30px 0;
  font-size: 130px;
  font-weight: 300;
  color: white;
  text-align: center;
  line-height: 210px;
}

.middle-section .login {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .loginForm {
  color: white;
  display: flex;
  font-size: 30px;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm .loginInput {
  width: 200px;
  height: 40px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.greeting {
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.end-section {
  width: 32.5vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.toDoListBox {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.toDoListBox ul li {
  display: flex;
  align-items: center;
  height: 40px;
}

.toDoListBox ul li div{
  height: 1em;
  color: white;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 300;
}

.toDoListBox ul li button{
  margin-left: auto;
  margin-right: 20px;
  font-size: 18px;
  height: 25px;
  color: white;
  border-radius: 50%;
  line-height: 25px;
}
.toDoListBox ul li button:hover {
  color: rgba(255, 255, 255, .5);
}
.toDoListBox ul li button:active {
  background-color: white;
}

.toDoListBox .toDoForm {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoInput {
  width: 90%;
  font-size: 20px;
  color: rgba(0, 0, 0, .8);
}
.toDoInput::placeholder {
  color: white;
}